<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<html>
	<head>
		<title><%=luci.sys.hostname()%> - <%= title or translate("Rebooting...") %></title>
		<link rel="stylesheet" type="text/css" media="screen" href="<%=media%>/cascade.css" />
		<script type="text/javascript" src="<%=resource%>/xhr.js"></script>
		<script type="text/javascript">//<![CDATA[
			var interval = window.setInterval(function() {
				var img = new Image();
				var target = ('https:' == document.location.protocol ? 'https://' : 'http://') + <%=addr and "'%s'" % addr or "window.location.host"%>;
		
				img.onload = function() {
					window.clearInterval(interval);
					window.location.replace(target);
				};
				
				img.src = target + '<%=resource%>/icons/loading.gif?' + Math.random();
				
			}, 5000);
		//]]></script>
	</head>
	<body>
		<header>
			<div class="fill">
				<div class="container">
					<p class="brand"><%=luci.sys.hostname() or "?"%></p>
				</div>
			</div>
		</header>
		&#160;
		<div class="main">
			<div id="maincontainer">
				<div id="maincontent" class="container">
					<h2 name="content" id="applyreboot-container" ><%:System%> - <%= title or translate("Rebooting...") %></h2>
					<div class="cbi-section" id="applyreboot-section">
						<div>
							<%= msg or translate("Changes applied.") %>
						</div>
						<div>
							<div class="bar-container">
								<div class="bar"></div>
							</div>
							<%:Waiting for changes to be applied...%>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		
		window.onload = function () {
			var rnd = 0,timeout = '';
			var bar = document.getElementsByClassName('bar-container')[0].getElementsByClassName('bar')[0];
			function run(){
				bar.style.width = rnd + '%';
				bar.style.transition = 'width linear 5s';
				rnd += parseInt(Math.random() * 3 + 3);
				if( rnd >= 99 ){
					window.clearTimeout(timeout);
					bar.style.width = '99%';
					return ;
				}
				timeout = window.setTimeout(run, 5000);
			}
			run();
		}	
	</script>
</html>
